<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=League+Gothic&family=Staatliches&family=Tangerine:wght@400;700&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainbody">
        <img src="/images/3416930.jpg" alt="">
    </div>
    <div class="maincontent">
        <div class="brandinglogo">
            <img src="/images/Screenshot_2024-08-23_at_2.23.26_PM-removebg-preview.png" alt="">
        </div>
        <div class="admin">
            <div class="adminbrand">Admin</div>
            <div class="adminform">
                <form action="/admin" class="admindet">
                    <div class="formfield">
                       
                        <div class="inputvalue">
                            <input type="text" placeholder="Username" name="username" style="outline: none; background: inherit; outline-style: none;height: 100% ;width: 100%; border-radius: inherit; outline-color:none; border:0.5px solid white; background-color: #fffbfb; display:flex; justify-content: center; text-align: center; font-size: 1.1rem;">
                        </div>
                    </div>
                    <div class="formfield">
                       
                        <div class="inputvalue">
                            <input type="password" placeholder="Password" name="password" style="outline: none; background: inherit; outline-style: none;height: 100% ;width: 100%; border-radius: inherit; outline-color:none; border:0.5px solid white; background-color: #fffbfb; display:flex; justify-content: center; text-align: center; font-size: 1.1rem;">
                        </div>
                    </div>
                    <div class="formsubmit">
                        <input type="submit" name="submit" value="Login" class="subbutton">
                    </div>
                    <div class="vault">
                        <img src="/images/5633-removebg-preview.png" alt="">
                    </div>
                    <div class="copyright">
                        <p>Copyright &#169; Tech VÖLSUNG</p>
                        <p>All rights reserved</p>
                    </div>

                </form>
            </div>
        </div>

    </div>

    
</body>
</html>