<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=League+Gothic&family=Staatliches&family=Tangerine:wght@400;700&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainbody">
        <img src="/images/3416930.jpg" alt="">
    </div>
    <div class="maincontent">
        <div class="brandinglogo">
            <img src="/images/Screenshot_2024-08-23_at_2.23.26_PM-removebg-preview.png" alt="">
        </div>
        <div class="builder">
            <div class="builderimage">
                <img src="https://img.freepik.com/free-vector/house-construction-site-with-workers_1308-104938.jpg?t=st=1724433480~exp=1724437080~hmac=29c348116c2affe2464cf966151035add21a4734fa41b443a12348bf49c55cdf&w=2000" alt="">
            </div>
            <div class="buildet">
                <form action="/admin/buildmuseum" method="post">
                    <input type="text" placeholder="Name" class="buildinput" name="name">
                    <input type="text" placeholder="Country" class="buildinput" name="country">
                    <input type="text" placeholder="City" class="buildinput" name="city">
                    <input type="number" placeholder="Phone" class="buildinput" name="phone">
                    <input type="number" placeholder="Capacity" class="buildinput" name="capacity">
                    <input type="text" placeholder="imageurl" class="buildinput" name="image">
                    <input type="text" placeholder="Address" class="buildinput" name="address">
                    <input type="submit" value="submit" class="buildsubmit">
                </form>
               
            
            </div>
            
        </div>
        <div class="logout">
            <a href="/admin/logout">LogOut</a>
        </div>
       

    </div>

    
</body>
</html>