<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="/styles_chatbot.css"> 
</head>
<body>
    <h1>Welcome to the Museum Chatbot!,I am (avatar's name)</h1>
    <p>Click here to chat with our bot to find the perfect museum to visit.</p>
 
    <form action="/chatbot2" method="GET">
        <button type="submit">Click here to proceed</button>
    </form>
</body>
</html>
