<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Völsung Solution </title>
    <link rel="stylesheet" href="/stylesheets/userstyle.css">

</head>
<body>
    <div class="mainbody">
        <img src="https://img.freepik.com/free-vector/illustration-world-famous-landmarks_53876-2935.jpg?t=st=1724506350~exp=1724509950~hmac=47fce61d3c28bbcc2b9620dd88c418918218ddaa1c5e711436c2538e05252e61&w=1380" alt="" class="backgroundimage" style="position: absolute; height: 100vh;width: 100vw;background-size: cover; overflow-x: hidden; overflow: none;" id="bodybackgroundimage">
        <div class="maincontent" style="width: 100vw; height: 100vh; position: relative;">
            <nav class="topnav">
                <div class="navlogo">
                    <img src="/images/Screenshot_2024-08-23_at_2.23.26_PM-removebg-preview.png" alt="">
                </div>
                <ul class="navlist">
                    <li class="nlitem"><a href="/user">Home</a></li>
                    <li class="nlitem"><a href="/user/about">About</a></li>
                    <li class="nlitem"><a href="/user/login">Tickets</a></li>
                    <li class="nlitem"><a href="/user/login">Support</a></li>
                </ul>
                <ul class="loglist">
                    <li class="logimage"></li>
                    <li class="logdet">
                        <div class="logitem"><a href="/user/login">Login</a></div>
                        <p>|</p>
                        <div class="logitem"><a href="/user/login">Sign Up</a></div>
                    </li>


                </ul>

            </nav>
            <div class="brandinglogo">
                <img src="/images/Screenshot_2024-08-23_at_2.23.26_PM-removebg-preview.png" alt="">
            </div>
            <div class="avatar">
                <div class="avatarbranding">
                    <img src="/images/Firefly_an_indian_traditional_lady_joining_hands_vector_art_add_head_room_to_the_image_the_lady_shou__1_-removebg-preview.png" alt="">
                    <div class="avatarintro">
                        <div class="avatarhead">
                            <img src="/images/freepik-export-202408241926506WHg.png" alt="">
                        </div>
                        <div class="avatartextintro">
                            Namaskar
                        </div>
                        <div class="avatardesc" style="width: 90%;margin:auto; text-align: center;
                        ">
                            Hello I am Aayushi your assistant to help you to book your museum tickets smoothly and hassle free.
                            I am here to help you , so that you can preplan your journey accordingly and can explore the culture of our diverse country and experience unity in diversity .
                        </div>
                        <div class="avatar-getstarted">
                            <a href="user/login">Get Started</a>
                            
                        </div>
                        <div class="developers">
                            Developed by @ Tech Völsung
                        </div>

                    </div>
                    
    
                </div>

            </div>
        

        </div>
    </div>
    
</body>
</html>