<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=League+Gothic&family=Staatliches&family=Tangerine:wght@400;700&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mainbody">
        <img src="/images/3416930.jpg" alt="">
    </div>
    <div class="maincontent">
        <div class="brandinglogo">
            <img src="/images/Screenshot_2024-08-23_at_2.23.26_PM-removebg-preview.png" alt="">
        </div>
        <div class="admintext">
            <p>Admin Features</p>
        </div>
        <div class="choice">
            <div class="choicenum">
                <div class="choiceimg">
                    <img src="https://img.freepik.com/free-vector/house-construction-site-with-workers_1308-104938.jpg?t=st=1724433480~exp=1724437080~hmac=29c348116c2affe2464cf966151035add21a4734fa41b443a12348bf49c55cdf&w=2000" alt="">
                    
                    
                </div>
                <div class="choiceinput">
                    <button><a href="/admin/buildmuseum">Build Museum</a></button>
                </div>
               
                
            </div>
            <div class="choicenum">
                <div class="choiceimg">
                    <img src="https://img.freepik.com/free-vector/demolition-concept-illustration_114360-13583.jpg?w=2000&t=st=1724432266~exp=1724432866~hmac=2aa78c0272c26f65e907806f4d0c5cd3386af4dea0fd4912dba434b93dc32d77" alt="">
                    
                    
                </div>
                <div class="choiceinput">
                    <button><a href="/admin/museumlist">Update Museum</a></button>
                </div>
               
                
            </div>
           
        </div>
        <div class="logout">
            <a href="/admin/logout">Logout</a>
        </div>

    </div>

    
</body>
</html>